body {
    background: #57ba98;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding: 10px;
    background: #65CCb8;
    margin: 10px;
    border-radius: 30px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border: 4px dashed #f4f4f4;
    border-radius: 30px;
}

.assignment p {
    color: #31708e;
}

.assignment img:hover {
    border: 4px dashed #31708e;
    border-radius: 30px;
}

h1 {
    color: #f4f4f4;
    text-align: center;
}

a {
    text-decoration: none;
    color: #f4f4f4;
}

a:hover {
    color: #31708e;
}