body {
    background:pink;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:#7746b8;
}

.assignment img {
    width:200px;
    border: 2px solid #ffffff;
    margin-right:20px;
}

h1 {
    color:black; /* Dark Orchid really didn't match the pink */
    text-align:center;
}

a  {
    text-decoration:none;
    color:#ffffff;
}